{% extends 'base.html.twig' %}

{% block title %}Nouvelle Série{% endblock %}

{% block body %}
    <h1>Créer une nouvelle série</h1>

    {{ include('serie/_form.html.twig') }}

    <a href="{{ path('app_serie_index') }}">Retour à la liste</a>
{% endblock %}
