{% extends 'base.html.twig' %}

{% block title %}Modifier le Lieu{% endblock %}

{% block body %}
    <h1>Modifier le Lieu</h1>

    {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_lieu_index') }}">Back to list</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
