{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <h1>Qui sommes-nous ?</h1>
    <p>Ce site réalisé par le master 2 I2N de l'université Jean Jaurès.</p>
    <p>L'adresse fictive de notre site internet est : <a href="https://mediathequem2i2n.fr">https://mediathequem2i2n.fr</a></p>

    <h2>Technologies utilisées</h2>
    <ul>
        <li>Symfony 6.2</li>
        <li>PHP 8.1</li>
        <li>MySQL 8.0</li>
        <li>Twig 3.0</li>
        <li>Bootstrap 5.2</li>
    </ul>

    <h2>Équipe de développement</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sylla</td>
                <td>Fatoumata</td>
            </tr>
            <tr>
                <td>Kpadonou</td>
                <td>Anthonio</td>
            </tr>
    
        </tbody>
    </table>
{% endblock %}
