{% extends 'base.html.twig' %}

{% block title %}nouvelle Oeuvre{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig') }}

    <a href="{{ path('app_oeuvre_index') }}">Retour à la liste</a>
{% endblock %}
