{% extends 'base.html.twig' %}

{% block title %}Edition editee{% endblock %}

{% block body %}
    <h1>Edition editee</h1>

    {{ include('edition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_edition_index') }}">back to list</a>

    {{ include('edition/_delete_form.html.twig') }}
{% endblock %}
