{% extends 'base.html.twig' %}

{% block title %}Nouvelle edition{% endblock %}

{% block body %}
    <h1>Nouveau</h1>

    {{ include('edition/_form.html.twig') }}

    <a href="{{ path('app_edition_index') }}">back to list</a>
{% endblock %}
