<form method="post" action="{{ path('app_type_oeuvre_delete', {'id': type_oeuvre.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer l'oeuvre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_oeuvre.id) }}">
    <button class="btn">Supprimer</button>
</form>
