{% extends 'base.html.twig' %}

{% block title %}New TypeAuteur{% endblock %}

{% block body %}
    <h1>Créer un nouveau type d'auteur</h1>

    {{ include('type_auteur/_form.html.twig') }}

    <a href="{{ path('app_type_auteur_index') }}">retour à la liste</a>
{% endblock %}
